.odd{
    background-color:rgb(248, 187, 187);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second{
    color:blue;
    font-size:36px;
}

#third{
    font-size: 24px;
}

#fourth{
    font-size:24px;
    font-weight: bold;
    background-color: rgb(164, 245, 164);
}