body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

.header, .footer{
  display: flex;
  align-items: center;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  margin-bottom: auto;
  padding-left:16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top:auto;
  justify-content: center;
}

.body{
  flex-grow:1;
  display: flex;
}

/*SIDEBAR*/
.sidebar {
  width: 500px;
  background: royalblue;
  box-sizing: border-box;
  
}

.sidebar ul{
  margin:0;
  padding:30px;
  color:white;
  list-style: none;
  font-size: large;
}
.sidebar li{
  margin-bottom:16px;
}

.sidebar a{
  text-decoration: none;
  color:inherit;
}

/*CARDS*/
.content{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  padding:30px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width:300px;
  height:300px;
  padding:30px;
}