body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 72px 0;
  min-height: 100vh;
  display:flex;
}

.header, .footer{
  position: absolute;
  width: 100%;
  height:72px;
}
.header {
  background: darkmagenta;
  color: white;

  top:0;
  font-size:32px;
  font-weight:900;
  display:flex;
  align-items: center;
  padding-left:16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  bottom:0;
  
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  color:white;
}

.sidebar ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar a{
  text-decoration: none;
  color:inherit;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

}